{% extends 'base.html' %}

{% block content %}
    <form hx-post="/add-post" hx-target="#posts" enctype="multipart/form-data">
        <input type="text" name="text">
        <input type="file" name="image">
        <button type="submit">Send</button>
    </form>
    <div id="posts">
     {% for post in posts %}
        <h4>{{ post.username }}</h4>
        <h3>{{ post.text }} <a href="{{ url_for('post_detail', id=post.id) }}">View</a></h3>
        <img src="{{ post.img }}">
    {% endfor %}
  </div>
{% endblock %}
